@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Baza gier VIDEO</h1>
    <p>W celu wglądu, edycji,  dostępu do dodatkowych informacji lub usunięcia produktu, proszę skorzystać z zakładki GamesApp</p>
</div>
